/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body p{
	font-weight: 300;
	letter-spacing: 0.8px;
	line-height: 1.8;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.features{
	padding:100px 0;
}
.features .col-md-12 > h2 {
  padding-top: 100px;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:10px;
  position:relative;
}

.features .col-md-3{
	text-align:center;
}
.features .col-md-3 .single-service{
	border:1px solid #E8E8E8;
	padding: 0 5px;
	height: 270px;
	transition:1s ease;
  margin-top: 60px;
  border-radius: 1em;
  background-color: #f8f5f2;
}
.single-service p:nth-child(1) {
	border-radius: 50%;
	display: inline-block;
	height: 80px;
	padding: 15px 0;
	text-align: center;
	width: 80px;
	margin-bottom:0;
	margin-top:40px;
	transition:1s ease;
	border:5px solid #fff;
}

.single-service img {
  margin-top: -15px;
  width: 70px;
  border-radius: 50%;
}

.single-service p i {
  font-size: 40px;
  color:#fff;
}
.single-service a {
  color: #EE3866;
  opacity:0;
  transition:.5s ease;
}
.features .col-md-3:hover .single-service p a{
	text-decoration:none;
	opacity:1;
}
.features .col-md-3:hover .single-service p:nth-child(1) {
  display: block;
  margin: -40px auto 0 auto;
}
.single-service h3{
	transition:.5s ease;
	text-transform: uppercase;
}
.features .col-md-3:hover .single-service h3{
	color: #EE3866;
}
.other-features{
	padding:150px 0;
}
